@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


* body{
    font-family: 'Staatliches', cursive;
}

body{
    background-image: url(/Assets/Images/chuttersnap-9AqIdzEc9pY-unsplash.jpg) !important;
    background-repeat: no-repeat !important;
    background-size: 100%;
    background-attachment: fixed !important;
    object-fit: cover !important;
    text-decoration: none !important;
}


.about-section{
 display: flex;
 flex-direction: column;
 text-align: center;

}

@media screen and (max-width: 700px)  {
    body{
        background: none !important;
    }
}

@media screen and (max-width: 300px)  {
    body{
        background: none !important;
    }

    .footer{
        position: absolute bottom !important;
    }
}