@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


* body{
    font-family: 'Staatliches', cursive;
}

body{
    background-image: url(https://i.postimg.cc/C5DDHkkx/chuttersnap-9-Aq-Idz-Ec9p-Y-unsplash.jpg) !important;
    background-repeat: no-repeat !important;
    background-size: 100%;
    background-attachment: fixed !important;
    object-fit: cover !important;
    text-decoration: none !important;
}


.about-section{
 display: flex;
 flex-direction: column;
 text-align: center;

}

.footer{
    margin-top: 250px !important;
}

@media screen and (max-width: 700px)  {
    body{
        background: none !important;
    }
}

@media screen and (max-width: 300px)  {
    body{
        background: none !important;
    }

    .footer{
        /* position: absolute  !important; */
        margin-top: 0 !important
        ;
       
    }

    .description{
     
        padding-top: 0 !important ;
    }
    .about-section{
        margin-top: 70px !important;
    }


}