@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


* body{
    font-family: 'Staatliches', cursive;
}

 
@media screen and (max-width : 700px) {
    .card{
        margin-left: 10px !important;
    }
}

@media screen and (max-width : 300px) {
    .card{
        margin-left: 10px !important;
    }
}