body{
    background-image: url(/Assets/Images/chuttersnap-9AqIdzEc9pY-unsplash.jpg) !important;
    background-repeat: no-repeat !important;
    background-size: 100%;
    background-attachment: fixed !important;
    object-fit: cover !important;
    text-decoration: none !important;
}





.main{

    width: 100%!important;
    height: 500px!important;
   display: flex;
   flex-direction: column;
    align-items: center;
    justify-content: center;
}