@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


* body{
    font-family: 'Staatliches', cursive;
}

body{
    background-image: url(https://i.postimg.cc/C5DDHkkx/chuttersnap-9-Aq-Idz-Ec9p-Y-unsplash.jpg) !important;
    background-repeat: no-repeat !important;
    background-size: 100%;
    background-attachment: fixed !important;
    object-fit: cover !important;
    text-decoration: none !important;
}





.main{

    width: 100%!important;
    height: 500px!important;
   display: flex;
   flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 700px)  {
    body{
        background: none !important;
    }
}

@media screen and (max-width: 300px)  {
    body{
        background: none !important;
    }
    .card{
        margin: 0 !important;
        padding: 0 !important;
        margin-right: px !important;
    }


}